body {
  height: 120vh;
}

.sheet-container__header__download-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.sheet-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px; */
  background-color: #d9e2f0;
  /* margin-top: 20px; */
  flex-direction: column;
}

.sheet-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sheet-container__header__table {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  width: 100%;
}

table {
  width: 100%;
}

.table-row {
  background-color: #d9e2f0;
}

.table-row:hover{
  background-color: #f0f0f0;
  cursor: context-menu;
}

.weekend-row {
  background-color: #dbd6d6;
}

.weekend-row:hover {
  background-color: #f0f0f0;
  cursor: context-menu;
}