@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.flex-container>div {
  padding-top: 10px;
}

.paginate-ctn {
  display: flex;
}

.round-effect {
  color: #000000;
  cursor: pointer;
  
  font-size: 16px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-decoration: none;
}

.round-effect:hover {
  text-decoration: none;
  background: #abc1f1;
  color: #FFF;
}

.round-effect:hover a {
  text-decoration: none;
  color: #FFF;
}

.active {
  background: #abc1f1;
  color: #FFF;
}

a:link {
  text-decoration: none;
  color: #abc1f1;
}